body{
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 20px;
  }

body::before{
    display: block;
    content: '';
    height: 100px;
}

.container h1{
    font-size: 90px;
}

.collapse {
    list-style: none;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapse{
    display: inline-block;
    padding: 0px 20px;
}

.collapse{
    transition: all 0.3s ease 0s;
}

.collapse :hover {
    color:white;
}

img.rounded-corners {
    border-radius: 30px;
  }
  
img{
      padding: 25px 25px;
  }

